/*
#section {
    width: 80%;
    border: 1px solid black;
    margin: auto;
}

form{
    width: 35%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid wheat;
    background-color: lightcyan;
    border-radius: 0px 0px 10px 10px;
   }
.form-title{
    margin-left: 15cm;
}
*/
.container{
    padding-bottom: 0;
}
footer {
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    position: fixed;
    width: 100% !important;
  }
  
  /*space between buttons in navbar */
      .btn-primary{
        margin-left: 0.5cm;
       }
